*.xlsm diff=hsvba
*.xltm diff=hsvba
*.xlsb diff=hsvba
*.xlam diff=hsvba
*.xls diff=hsvba
*.xlt diff=hsvba
*.xla diff=hsvba
*.docm diff=hsvba
*.dotm diff=hsvba
*.doc diff=hsvba
*.dot diff=hsvba
*.xml diff=hsvba
*.pptm diff=hsvba
*.potm diff=hsvba
*.ppsm diff=hsvba
*.ppam diff=hsvba
*.ppa diff=hsvba
*.ppt diff=hsvba
*.pot diff=hsvba
*.pps diff=hsvba
*.otm diff=hsvba
*.pub diff=hsvba
*.vsdm diff=hsvba
*.vstm diff=hsvba
*.vssm diff=hsvba
*.vdx diff=hsvba
*.vtx diff=hsvba
*.vsx diff=hsvba
*.mpp diff=hsvba
*.mpt diff=hsvba
